#sidebar-aside {
    background-color: var(--color-primario);
    border-radius: var(--borde);

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.cuadro-busqueda-id {
    display: flex;
    gap: 0.5rem;
}

#sidebar-aside button[type=submit] {


}