#app {
    height: 100vh;
    display: grid;
    
    grid-template-rows: 1fr 9fr;

    grid-template-areas: 
        "app-header"
        "app-body";
    
}



#app-header {
    grid-area: app-header;

}

#app-body {
    grid-area: app-body;

    padding: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;

    align-items: center;

}

.form-container h1 {
    color: white;
    font-weight: bold;

    margin-bottom: 1rem;
}