* {
    margin: 0;
    padding: 0;
}

* , *::before, *::after {
    box-sizing: border-box;
}

:root {
    --color-primario: rgb(255, 255, 255);
    --borde: 12px
}

body {
    background-color: rgb(75, 92, 77) !important;
}